<h1>Register page</h1>
<%= form_for :register do |f| %>

  Name: <%= f.text_field :full_name %>
  <br><br>
  Email: <%= f.text_field :email %>
  <br><br>
  Password: <%= f.password_field :password %>
  <br><br>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "Submit" %>

<% end %>
